@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #444444;
  width: 100%;
}

ul, ol, li {
  list-style: none;
}

a, u {
  text-decoration: none;
}

b, strong {
  font-weight: 100;
}

i, em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100;
}

img {
  display: block;
  border: 0;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* 头部  */
#headerCon {
  width: 100%;
  height: 120px;
}
#headerCon .tp {
  width: 100%;
  height: 30px;
  background: #f2f2f2;
}
#headerCon .tp .header {
  width: 1000px;
  height: 120px;
  margin: 0 auto;
  overflow: visible;
}
#headerCon .tp .header .headerTop {
  width: 1000px;
  height: 30px;
}
#headerCon .tp .header .headerTop .headerLeft {
  height: 30px;
  line-height: 30px;
  float: left;
}
#headerCon .tp .header .headerTop .headerLeft .theLi {
  float: left;
  height: 30px;
  padding: 0 6px 0 0;
}
#headerCon .tp .header .headerTop .headerLeft .theLi :hover {
  color: red;
}
#headerCon .tp .header .headerTop .headerLeft .theLi a {
  color: #000;
}
#headerCon .tp .header .headerTop .headerLeft .theLi img {
  width: 20px;
  height: 20px;
  margin: 3px 0 4px 0;
  padding: 0 2px 0 0;
  float: left;
}
#headerCon .tp .header .headerTop .headerRight {
  height: 30px;
  line-height: 30px;
  float: right;
  padding: 0 80px 0 0;
}
#headerCon .tp .header .headerTop .headerRight li {
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 20px;
}
#headerCon .tp .header .headerTop .headerRight li .erWe {
  display: none;
  position: absolute;
  right: 263px;
  top: 30px;
}
#headerCon .tp .header .headerTop .headerRight li .qq {
  display: none;
}
#headerCon .tp .header .headerTop .headerRight li a {
  color: #000;
}
#headerCon .tp .header .headerTop .headerRight li .bg {
  background: url(../img/base_z.png) -604px -323px no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  white-space: nowrap;
  text-indent: -9999px;
  overflow: hidden;
  float: left;
  background-repeat: no-repeat;
}
#headerCon .tp .header .logo {
  width: 1000px;
  height: 90px;
  overflow: hidden;
}
#headerCon .tp .header .logo .logoA {
  background: url(../img/base_z.png) -853px -295px no-repeat;
  display: block;
  width: 205px;
  height: 90px;
  text-indent: -9999px;
  float: left;
}
#headerCon .tp .header .logo .logoB {
  background: url(../img/base_z.png) -889px -74px no-repeat;
  display: block;
  width: 151px;
  height: 90px;
  text-indent: -9999px;
  float: left;
}

#headerNav {
  width: 100%;
  height: 42px;
  background: #000;
  top: 120px;
  left: 0;
}
#headerNav .nav {
  width: 100%;
  height: 42px;
  margin: 0 auto;
  position: relative;
}
#headerNav .nav .navH {
  width: 100%;
  background: #000;
  position: absolute;
}
#headerNav .nav .navH .navL {
  height: 42px;
  float: left;
  margin-left: 130px;
}
#headerNav .nav .navH .navL .navLi {
  height: 42px;
  margin-right: 50px;
  float: left;
}
#headerNav .nav .navH .navL .navLi :hover {
  color: red;
}
#headerNav .nav .navH .navL .navLi a {
  display: block;
  width: auto;
  height: 42px;
  line-height: 42px;
  float: left;
  font-size: 14px;
  color: #fff;
}
#headerNav .nav .navH .navR {
  width: 111px;
  height: 42px;
  float: right;
  margin-right: 130px;
}
#headerNav .nav .navH .navR .navG {
  font-size: 12px;
  width: 23px;
  text-align: center;
  line-height: 42px;
  color: #a8a8a8;
  background: url(../img/base_z.png) -1017px -219px no-repeat;
  float: left;
}
#headerNav .nav .navH .navR .navF {
  float: left;
  margin-left: 15px;
  font-size: 14px;
  height: 42px;
  line-height: 42px;
  color: #fff;
}
#headerNav .nav .navH .navR .navJ {
  float: left;
  margin-left: 15px;
  font-size: 14px;
  height: 42px;
  line-height: 42px;
  color: #fff;
}

/***  尾部   ***/
.footer_con {
  float: left;
  width: 100%;
  min-height: 1px;
  background: #f2f2f2;
  position: relative;
}
.footer_con .footer {
  width: 1000px;
  height: 205px;
  margin: 0 auto;
  padding-top: 30px;
  background: #f2f2f2;
  text-align: center;
}
.footer_con .footer .footer_adva {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 20px;
  overflow: hidden;
}
.footer_con .footer .footer_adva li {
  display: block;
  width: 165px;
  height: 60px;
  float: left;
  overflow: hidden;
  border-right: 1px solid #777;
}
.footer_con .footer .footer_adva li .a1 {
  display: block;
  width: 165px;
  height: 60px;
  overflow: hidden;
  line-height: 95px;
  text-align: center;
  color: #000;
  background: url(../img/base_z.png) -153px -146px no-repeat;
}
.footer_con .footer .footer_adva li .a1:hover {
  background: url(../img/base_z.png) -153px -264px no-repeat;
}
.footer_con .footer .footer_adva li .a2 {
  display: block;
  width: 165px;
  height: 60px;
  overflow: hidden;
  line-height: 95px;
  text-align: center;
  color: #000;
  background: url(../img/base_z.png) -543px -104px no-repeat;
}
.footer_con .footer .footer_adva li .a2:hover {
  background: url(../img/base_z.png) -543px 7px no-repeat;
}
.footer_con .footer .footer_adva li .a3 {
  display: block;
  width: 165px;
  height: 60px;
  overflow: hidden;
  line-height: 95px;
  text-align: center;
  color: #000;
  background: url(../img/base_z.png) -150px -382px no-repeat;
}
.footer_con .footer .footer_adva li .a3:hover {
  background: url(../img/base_z.png) -301px -229px no-repeat;
}
.footer_con .footer .footer_adva li .a4 {
  display: block;
  width: 165px;
  height: 60px;
  overflow: hidden;
  line-height: 95px;
  text-align: center;
  color: #000;
  background: url(../img/base_z.png) -419px 5px no-repeat;
}
.footer_con .footer .footer_adva li .a4:hover {
  background: url(../img/base_z.png) -419px -107px no-repeat;
}
.footer_con .footer .footer_adva li .a5 {
  display: block;
  width: 165px;
  height: 60px;
  overflow: hidden;
  line-height: 95px;
  text-align: center;
  color: #000;
  background: url(../img/base_z.png) -310px -346px no-repeat;
}
.footer_con .footer .footer_adva li .a5:hover {
  background: url(../img/base_z.png) -310px -459px no-repeat;
}
.footer_con .footer .footer_adva li .a6 {
  display: block;
  width: 165px;
  height: 60px;
  overflow: hidden;
  line-height: 95px;
  text-align: center;
  color: #000;
  background: url(../img/base_z.png) -310px -112px no-repeat;
}
.footer_con .footer .footer_adva li .a6:hover {
  background: url(../img/base_z.png) -310px 5px no-repeat;
}
.footer_con .footer .footer_adva li:last-child {
  border: 0;
}

/*# sourceMappingURL=public.css.map */
