/****   banner图    ****/
//body{
//  background:#f2f2f2;
//  
//}
#banner{
    position: relative;
    overflow: hidden;
    width: 1280px;
    height:523px;
        .bigBanner{
            display: block;
            width: 1800px;
            height: 524px;
            background: url(../img/banner.jpg) no-repeat;
            position: relative;
            top:0;
            left:50%;
            margin: auto;
            margin-left: -900px;
    }
}
/****   首页内容     ****/
#conter{
    width: 1040px;
    min-height: 1px;
    margin: 0 auto;
   // background: #ccc;
    position: relative;
    top: -50px;
    .conterTop{
       height:48px ;
       width: 1000px;
       margin:10px auto;
        .conSx{
            line-height: 48px;
            font-size: 22px;
        }
    }
    .conHz{
        width: 1020px;
    }
    .conLj{
        display: block;
        margin-right: 20px;
        clear: both;
        text-align: right;
        font-size: 12px;
        color: #000;
        background: url(../img/icon_arrows_right_black.gif) right no-repeat;
        padding-right: 8px;
    }
    .conterPho{
            width: 320px;
            height: 231px;
            margin-left: 20px;
            float: left;
            margin-bottom: 20px;
            background: #f2f2f2;
            .conP{
                width:320px;
                height: 192px;
                border: 1px solid #e7e7e7;
                overflow: hidden;
               .conZ{
                    width: 320px;
                    height:192px;
                    display: block;
                    opacity: 1;
                   
//              .active{
//                  display: block;
//              }
                
                    a{
                        img{
                            transition: all 1s;
                        }
                        :hover{
                            -webkt-filter:grayscale(100%);
                            filter: grayscale(100%);
                            transform: scale(1.2);
                        }
                    }
                     .conX{
                    width: 320px;
                    background: #CCCCCC;
                    color: #fff;
                    text-align: center;
                    position: relative;
                    top: -105px;
                    display: none;
                    :hover{
                        display: block;
                    }
                }
                }
            }
            .conN{
                width: 322px;
                height: 39px;
                a{
                  font-size: 12px;
                  line-height: 39px; 
                  float: left; 
                }
                .span-1{
                    display: block;
                    font-size: 16px;
                    color: #dc2726;
                    float: right;
                    padding-top: 10px;
                }
                .span-2{
                    display: block;
                    font-size: 12px;
                    color: #dc2726;
                    float: right;
                    padding-top: 15px;
                    padding-right: 10px;
                }
            }
        }
}


.conterWoman{
    width:320px;
    height: 484px;
    margin: 0 0 18px 20px;
    float: left;
}
.er{
    width: 98px;
    height: 300px;
    position: fixed;
    left: 50%;
    margin-left: 550px;
    bottom: 50px;
    overflow: hidden;
    z-index: 9997;
    text-align: center;
    background: transparent;
    .con_guding{
        overflow: hidden;
        background: #000;
        font-size: 14px;
        color: #fff;
        padding: 5px 0;
        span{
            color: red;
            font-size: 16px;
            letter-spacing: 2px;
            font-weight: bold;
        }
    }
    .erweima{
        border: 1px solid #ccc;
        overflow: hidden;
        background: #FFFFFF;
        padding: 5px 0;
        span{
            line-height: 22px;
            display: inline-block;
        }
        img{
            width: 75px;
            height: 75px;
            display: inline-block;  
            margin: 5px;
        }
    }
}
//选项卡
.tab_top{
    width: 1000px;
    height: 25px;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    margin: -30px auto 30px ;
    .tab_top_a{
        float: left;
        height: 16px;
        line-height: 16px;
        
        
        span{
               display: block;
               height: 16px;
               line-height: 16px;
               float: left;
               width: 89px;
               text-align: center;
               cursor: pointer;
               border-right: 1px solid #000;
        }
        span:first-child{
            border-left: 1px solid #000;
        }
    }
    .tab_cen{
        width: 90px;
        height: 4px;
        overflow: hidden;
        background: #000;
        position:absolute;
        bottom: 0;
        
    }
    .tab_cen_aa{
        width: 1020px;
        height: 10px;
        padding-top: 9px;
        clear: both;
        .tab_sx{
            height: 27px;
            position: absolute;
            right: 0;
            top:-7px;
            span{
                font-size: 27px;
                color: #db2726;
            }
        }
    }
}
.tab_con_A{
    width: 1020px;
    height: 90px;
    min-height: 90px;
    margin-left: 20px;
    margin: 20px auto;
    clear: both;
    .tag_hezi{
        width:318px;
        height: 90px;
        border: 1px solid #e7e7e7;
        float: left;
        margin: 0 20px 20px 0;
        .tag_img{
          width: 149px;
          height: 88px;
          float: left;
            
        }
        .tag_wenzi{
            width: 169px;
            height:88px;
            overflow: hidden;
            float:right;
           // position: relative;
            p:first-child{
                max-height: 32px;
                overflow: hidden;
                margin: 10px 0 0 10px;
              }
             p:last-child{
                margin: 10px 0 0 10px;
                span{
                    font-size: 18px;
                    color: #db2726;
                }
            }
        }
    }
}





.tab_top{
    width: 1000px;
    height: 25px;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    margin: -30px auto 30px ;
    .tab_top_a{
        float: left;
        height: 16px;
        line-height: 16px;
        
        
        span{
               display: block;
               height: 16px;
               line-height: 16px;
               float: left;
               width: 89px;
               text-align: center;
               cursor: pointer;
               border-right: 1px solid #000;
        }
        span:first-child{
            border-left: 1px solid #000;
        }
    }
    .tab_cen{
        width: 90px;
        height: 4px;
        overflow: hidden;
        background: #000;
        position:absolute;
        bottom: 0;
        
    }
    .tab_cen_aa{
        width: 1020px;
        height: 10px;
        padding-top: 9px;
        clear: both;
        .tab_sx{
            height: 27px;
            position: absolute;
            right: 0;
            top:-7px;
            span{
                font-size: 27px;
                color: #db2726;
            }
        }
    }
}
.tab_con_B{
    width: 1020px;
    height: 90px;
    min-height: 90px;
    margin-left: 20px;
    margin: 20px auto;
    clear: both;
    .tag_hezi{
        width:318px;
        height: 90px;
        border: 1px solid #e7e7e7;
        float: left;
        margin: 0 20px 20px 0;
        .tag_img{
          width: 149px;
          height: 88px;
          float: left;
            
        }
        .tag_wenzi{
            width: 169px;
            height:88px;
            overflow: hidden;
            float:right;
           // position: relative;
            p:first-child{
                max-height: 32px;
                overflow: hidden;
                margin: 10px 0 0 10px;
              }
             p:last-child{
                margin: 10px 0 0 10px;
                span{
                    font-size: 18px;
                    color: #db2726;
                }
            }
        }
    }
}








